<h1>Hello body</h1>
<%= form_for :post, url: posts_path, html: { class: "pure-form" } do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "pure-input pure-input-rounded" %>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  <p>
    <%= f.submit class: "pure-button pure-button-primary" %><br>
<% end %>
